<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" xmlns="http://www.thymeleaf.org">
  <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->

  <h1 th:text="'List of Vets'">Vet Index Page...</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="vet:${vets}">
        <td th:text="${vet.id}">123</td>
        <td th:text="${vet.firstName}">fname</td>
        <td th:text="${vet.lastName}">lname</td>
      </tr>
    </tbody>
  </table>
</body>
</html>